TZ=UTC
NODE_ENV=development

PORT=3000
HOST=0.0.0.0
DATABASE_URL=postgres://postgres:your_password@127.0.0.1:5432/doomscrll_db

COOKIE_SECRET=your_base64_cookie_secret_here

PLUNK_API_KEY=your_plunk_api_key_here

CLOUDFLARE_ACCOUNT_ID=your_cloudflare_account_id_here
R2_TOKEN_VALUE=your_r2_token_here
R2_ACCESS_KEY_ID=your_r2_access_key_id_here
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key_here
R2_BUCKET_NAME=your_r2_bucket_name_here
CDN_DOMAIN=https://your_cdn_domain.com

WEBHOOK_SECRET=your_webhook_secret_here
